/* THIS IS THE CSS FOR NAVIGATION BAR */
.navbar{
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 70px;
}
.navbar h1{
    color: white;
    font-size: 36px;
}
.navbar ul li{
    float: left;
    text-decoration: none;
    list-style-type: none;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    margin-right: 45px;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: bolder;
}
.navbar ul li a:hover{
    color: yellow;
}
.navbar i{
    font-size: 25px;
    color: yellow;
    font-weight: bolder;
    display: none;
}
.navbar i:hover{
    color: white;
    cursor: pointer;
}
.navbar img{
    cursor: pointer;
}


/* MEDIA QUERY FOR THE NAVIGATION BAR
 */ 
 @media screen and (max-width: 920px){
    .navbar ul li a{
        font-size: 13px;
    }
}
@media screen and (max-width: 830px){
    .navbar ul li a{
        font-size: 13px;
    }
    .navbar i{
        margin-left: -67px;
        font-size: 17px;
    }
}
@media screen and (max-width: 750px){
    .navbar ul li{
        float: none;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    .navbar img{
        width: 70px;
    }
    .navbar i{
        display: block;
        font-size: 30px;
    }
    .navbar{
        align-items: flex-start;
    }    
    .navbar img{
        margin-top: 12px;
    }
    .navbar i{
        margin-top: 46px;
    }
    .navbar{
        padding: 0px 47px;
    }
    .navbar ul{
        text-align: center;
        margin-top: 90px;
        margin-right: 59px;
    }
    .navbar ul li a{
        font-size: 15px;
    }
    #menu_list{
        overflow: hidden;
        transition: 0.5s;
    }
}
/* ---------media query for navigation bar ends------------- */